# Config um alle eingehenden Requests an die index.php weiterzuleiten
    # So kann die jeweilige PHP Datei dynamisch als Inhalt in die Index geladen werden
    # Das reduziert doppelten Code und verhindert unnötiges Neuladen wiederkehrender Inhalte, wie den Header/Footer
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]