/* Hier kommt CSS/Styling-Content */

/**

    Aufbau:

    .class {
        attribut1: wert1;
        attribut2: wert2;
    }

    #id {
        attribut1: wert1;
        attribut2: wert2;
    }

    html-element {
        attribut1: wert1;
        attribut2: wert2;
    }

 */